package ${mapperPath};

import ${entityFullName};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import java.util.List;

/**
 * ${tableComment}Mapper
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${mapperName} extends BaseMapper<${entityName}> {

    ${methods}

}
