@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.row-search {
  padding: 10px 0;
  box-sizing: border-box;
}

.row-search .el-col + .el-col {
  margin-left: 5px;
}

.method-card {
  height: 300px;
  display: inline-block;
  overflow-y: auto;
}

.method-card .method-card-row {
  padding: 5px 0;
}

.btn-group {
  > * {
    margin-left: 0 !important;
  }

  &.horizon {
    > * {
      display: block;

      & + * {
        margin-top: 20px;
      }
    }
  }
}
